<header>
    <div id="logo-area">
        <a href=""><img id="main-logo" src="/src/pencil-icon.svg" alt="pencil-icon-main"></a>
        <a id="quiz-mania-main-anchor" href=""><h1>Quiz Mania</h1></a>
    </div>
    <nav id="header-nav">
        <a href="#" id="new-quiz-main-anchor">Criar Quiz</a>
    </nav>
</header>