<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="card-container">
            <div class="card">
                <h1>Titulo</h1>
            </div>
            <div class="tags">
                <h2>Tag1</h2>
                <h2>Tag2</h2>
                <h2>Tag3</h2>
            </div>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>