<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="card-container">
            <div class="card">
                <h1>Cidades Famosas</h1>
            </div>
            <div class="tags">
                <img class="tag-ticket" src="/src/tag-ticket.svg" alt="tags-ticket">
                <h2>Historia</h2>
                <h2>Turismo</h2>
                <h2>Viagens</h2>
            </div>
        </div>
        <div class="card-container">
            <div class="card">
                <h1>Sistema Solar</h1>
            </div>
            <div class="tags">
                <img class="tag-ticket" src="/src/tag-ticket.svg" alt="tags-ticket">
                <h2>Astronomia</h2>
                <h2>Planetas</h2>
            </div>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>