<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <main>
        <div class="home-quiz">
            <img src="src/home-icon.svg" alt="home">
            <h1>Quiz Mania</h1>
        </div>
        <h1 class="not-found-title">Essa Página não foi encontrada, volte para a Home</h1>
        <a class="not-found-button" href="/">Voltar</a>
    </main>
</body>
</html>