<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div>
            <div class="question-container" id="question-container">
                <h1 class="title-quiz-title">Titulo do Quiz</h1>
                <input class="quiz-title" type="text" name="quizTitle">

                <h1 class="tags-title">Tags</h1>
                <div class="tags-register">
                    <input type="text" class="tag">
                    <input type="text" class="tag">
                    <input type="text" class="tag">
                </div>

                <div class="single-question-container">
                    <h2 class="question-title">Pergunta</h2>
                    <input class="question" type="text" name="question">

                    <h3 class="correct-answer-title">Resposta Correta</h3>
                    <input class="correctAnswer" type="text" name="correctAnswer">

                    <h3 class="wrong-answer-title">Respostas Incorretas</h3>
                    <div class="wrong-answer-container">
                        <input class="wrongAnswer" type="text">
                        <button class="add-answer-button" onclick="newAnswer();">Adicionar Alternativa Incorreta</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons-container">
            <button class="new-question-button" onclick="newQuestion(this);" >Adicionar pergunta</button>
            <button class="finish-quiz-button" onclick="verifyAndSend();">Finalizar Quiz</button>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
    <script src="/js/register-quiz.js"></script>
</body>
</html>
