<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <form action="/register-quiz" method="post">
            <div class="question-container">
                <input class="quiz-title" type="text" name="quizTitle" placeholder="">
                <input class="question" type="text" name="question">
                <input class="correctAnswer" type="text" name="correctAnswer">
                <div class="wrong-answer-container">
                    <input class="wrongAnswer" type="text">
                    <img class="add-answer-button" src="/src/add-icon.svg" alt="add-icon">
                </div>
            </div>
            <button class="new-question-button" >Adicionar pergunta</button>
            <button class="finish-quiz-button" type="submit">Finalizar Quiz</button>
        </form>
        <script src="/js/register-quiz.js"></script>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>