:root{
    --schema-color-red: #EE6352;
    --schema-color-cyan: #08B2E3;
    --schema-color-white: #EFE9F4;
    --schema-color-green: #57A773;
    --schema-color-blue: #626893;
    --schema-color-black: #0C0C0F;
}

