header{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--schema-color-blue);
}

#logo-area{
    display: flex;
    align-items: center;
    position: relative;
    bottom: 5px;
}
#main-logo{
    width: 20px;
    margin: 0 5px 0 40px;
    position: relative;
    top: 5px;
}

#quiz-mania-main-anchor{
    text-decoration: none;
    font-family: 'Itim', cursive;
    font-size: 1rem;
    color: #000;
}

#new-quiz-main-anchor{
    padding: 12.5px 25px;
    text-decoration: none;
    background-color: var(--schema-color-green);
    color: #000;
    font-family: 'Roboto', sans-serif;
    border-radius: 15px;
    margin: 0 40px 0 0;
    font-weight: 600;
    font-size: 0.9rem;
}