.question-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
}

.quiz-title{
    width: 60%;
    border: 3px solid var(--schema-color-blue);
    background-image: url('/src/title-icon.svg');
    background-position: 5px;
    height: 30px;
    background-size: 25px;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: 0 0 40px 0;
    font-family: 'Roboto', sans-serif;
    color: var(--schema-color-black);
    text-indent: 35px;
    font-weight: 600;
    font-size: 1.2rem;
}

.title-quiz-title{
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: var(--schema-color-black);
    font-size: 1.8rem;
}

.single-question-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question{
 width: 100%;
 border: 3px solid var(--schema-color-blue);
 background-image: url('/src/question-icon.svg');
 background-position: 5px;
 height: 30px;
 background-size: 15px;
 background-repeat: no-repeat;
 border-radius: 10px;
 margin: 0 0 40px 0;
 font-family: 'Roboto', sans-serif;
 color: var(--schema-color-black);
 text-indent: 25px;
 font-size: 1rem;
}

.question-title{
    font-family: 'Roboto', sans-serif;
    color: var(--schema-color-black);
    font-size: 1.2rem;
}

.correctAnswer{
    width: 30vw;
    border: 3px solid var(--schema-color-green);
    background-image: url('/src/correct-signal-icon.svg');
    background-position: 5px;
    height: 30px;
    background-size: 17.5px;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.correct-answer-title{
    font-family: 'Roboto', sans-serif;
    color: var(--schema-color-black);
    font-size: 1.2rem;
}

.wrong-answer-container{
    display: flex;
    width: 60%;
    margin: 0 0 40px 0;
    flex-direction: column;
    align-items: center;
}

.wrong-answer-title{
    font-family: 'Roboto', sans-serif;
    color: var(--schema-color-black);
    font-size: 1.2rem;
}

.wrongAnswer{
    width: 30vw;
    border: 3px solid var(--schema-color-red);
    background-image: url('/src/wrong-signal-icon.svg');
    background-position: 5px;
    height: 30px;
    background-size: 20px;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: 0 0 20px 0;
}

.buttons-container{
    display: flex;
    justify-content: center;
    margin: 0 0 30px 0;
}

.add-answer-button{
    background-color: var(--schema-color-blue);
    border-radius: 10px;
    border: none;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    color: var(--schema-color-black);
    font-weight: 600;
    font-size: 1rem;
    padding: 0 15px;
    cursor: pointer;
    margin: 0 0 30px 0;
}

.new-question-button{
    background-color: var(--schema-color-blue);
    border-radius: 10px;
    border: none;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    color: var(--schema-color-black);
    font-weight: 600;
    font-size: 1rem;
    padding: 0 15px;
    cursor: pointer;
    margin: 0 10px 0 0;
}

.finish-quiz-button{
    background-color: var(--schema-color-cyan);
    border-radius: 10px;
    border: none;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    color: var(--schema-color-black);
    font-weight: 600;
    font-size: 1rem;
    padding: 0 15px;
    cursor: pointer;
}